# 파이썬 300제 101 -

## 101 ~ 110

101 

파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [1]:
bool

bool

102

아래 코드의 출력 결과를 예상하라

print(3 == 5)

In [ ]:
false 왜냐하면 3은 5가 아니기때문

103
아래 코드의 출력 결과를 예상하라

print(3 < 5)

In [ ]:
True

104
아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

In [ ]:
True

105
아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

In [ ]:
True

106
아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

In [ ]:
없는 연산자 이다.

107
아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

In [ ]:
조건이 맞지 않음으로(만족하지 않아) 결과 x

108
아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

In [ ]:
 Hi, there. 조건이 맞지 않으므로 else의 문장이 실행

109 ❗
아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

In [ ]:
1
2
4

110
아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

In [2]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
3
5

## 111 ~ 120

111
사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

>> 안녕하세요
안녕하세요안녕하세요

In [3]:
a = "안녕하세요"

print(a * 2)

안녕하세요안녕하세요

In [5]:
user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

112
사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

>> 숫자를 입력하세요: 30
40

In [6]:
user = input("입력:")
print(user + 10)❗

입력:30

TypeError: can only concatenate str (not "int") to str

In [7]:
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요: 30
40

113
사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

>> 30
짝수

In [9]:
user = input("입력해보아라 : ")
if user % 2 == 0: ❗ # int 잊지말자
    print("짝수")
else:
    print("홀수")

SyntaxError: invalid syntax (<ipython-input-9-e3f77c1d1998>, line 2)

In [10]:
user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

30
짝수

114
사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

>> 입력값: 200
출력값: 220
>> 입력값: 240
출력값: 255

In [13]:
user = input("")


if int(user) + 20 < 255:❗ # 내가 잘못 생각한 부분
    print(255)
else:
    print(20 + int(user))

270
290

In [14]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값: 260
255

115
사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

>> 입력값: 200
출력값: 180
>> 입력값: 15
출력값: 0

In [16]:
user = input("입력값: ")

num = int(user) - 20

if  num < 0:
    print(0)
elif num > 255:
    print(255)
else:
    print(num)

입력값: 290
255

116 ❗ 
사용자로부터 입력 받은 시간이 정각인지 판별하라.

>> 현재시간:02:00
정각 입니다.
>> 현재시간:03:10
정각이 아닙니다

In [ ]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

117
사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]
>> 좋아하는 과일은? 사과
정답입니다.

In [20]:

fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은? ")

if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다")

좋아하는 과일은? 자몽
오답입니다

118
투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

In [22]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

user = input("투자종목: ")

if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

투자종목: celltrion
투자 경고 종목이 아닙니다.

119
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
>> 제가좋아하는계절은: 봄
정답입니다.

In [23]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input("제가 좋아하는 계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가 좋아하는 계절은: 봄
정답입니다.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input("제가 좋아하는 계절은: ")
if user in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

120
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 **딕셔너리 값 (value)** 에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
>> 좋아하는과일은? 한라봉
오답입니다.

In [24]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input("제가 좋아하는 계절은: ")

if user in fruit.values(): # ❗ 
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 한라봉
오답입니다.

-코딩 도장 [파이썬 코딩도장] 심사문제 풀이 : 13.7 온라인 할인 쿠폰 시스템 만들기 ❗ 

표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).


입력
27000
Cash3000
결과
24000

입력
72000
Cash5000
결과
67000

In [25]:
x = int(input())
y = input()

if y == 'cash3000':
    x -= 3000
    print(x)
    
if y == 'cash5000':
    x -= 5000
    print(x)

27000
cash3000
24000

# 121 ~ 130

121 ❗ 
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

>> a
A
힌트-1 : islower() 함수는 문자의 소문자 여부를 판별합니다. 만약 소문자일 경우 True, 대문자일 경우 False를 반환합니다. 힌트-2 : upper() 함수는 대문자로, lower() 함수는 소문자로 변경합니다.

In [ ]:
user = input("")

if user.islower():
    print(user.upper())
else:
    print(user.lower())

122
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

점수	학점
81~100	A
61~80	B
41~60	C
21~40	D
0~20	E
>> score: 83
grade is A

123
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

통화명	환율
달러	1167
엔	1.096
유로	1268
위안	171
>> 입력: 100 달러
116700.00 원

24
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

>> input number1: 10
>> input number2: 9
>> input number3: 20
20

126
우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

-	0	1	2	3	4	5	6	7	8	9
01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구
사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

>> 우편번호: 01400
도봉구

127
주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

>> 주민등록번호: 821010-1635210
남자

128
주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

지역코드	출생지
00 ~ 08	서울
09 ~ 12	부산
>> 주민등록번호: 821010-1635210
서울이 아닙니다.
>> 주민등록번호: 861010-1015210
서울 입니다.

129
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

  8 2 1 0 1 0 - 1 6 3 5 2 1 0
x 2 3 4 5 6 7   8 9 2 3 4 5 

-----------------------------

1차 계산: (8*2 + 2*3 + 1*4 + 0*5 + 1*6 + 0*7 + 1*8 + 6*9 + 3*2 + 5*3 + 2*4 + 1*5) = (128 % 11) = 7
2차 계산: 11 -7 = 4
위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.

다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

>> 주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

130
아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

Key Name	Description
opening_price	최근 24시간 내 시작 거래금액
closing_price	최근 24시간 내 마지막 거래금액
min_price	최근 24시간 내 최저 거래금액
max_price	최근 24시간 내 최고 거래금액

# 121 ~ 130 ❗ 

한번 더 풀기

In [ ]:
121
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

>> a
A

힌트-1 : islower() 함수는 문자의 소문자 여부를 판별합니다. 
만약 소문자일 경우 True, 대문자일 경우 False를 반환합니다. 힌트-2 : upper() 함수는 대문자로, lower() 함수는 소문자로 변경합니다.

In [ ]:
user = input("")

if user.islower():
    print(user.upper())
else:
    print(user.lower())

a
A

In [ ]:
122
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

점수	학점
81~100	A
61~80	B
41~60	C
21~40	D
0~20	E
>> score: 83
grade is A

In [ ]:
user = input("score : ")

user = int(user)
if 81 <= user <= 100:
    print("grade is A")
elif 61 <= user <= 80:
    print("grade is B")
elif 41 <= user <= 60:
    print("grade is C")
elif 21 <= user <= 40:
    print("grade is D")
elif 0 <= user <= 20:     # else : 
    print("grade is E")

score : 83
grade is A

In [ ]:
123❗
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

통화명	환율
달러	1167
엔	1.096
유로	1268
위안	171
>> 입력: 100 달러
116700.00 원

In [ ]:
data = input("입력:")
tokens = data.split()
print(tokens)

입력:100 달러
['100', '달러']

In [ ]:
124❗
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

>> input number1: 10
>> input number2: 9
>> input number3: 20
20

In [ ]:
125❗
휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음
>> 휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

In [ ]:
126
우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

-	0	1	2	3	4	5	6	7	8	9
01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구
사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

>> 우편번호: 01400
도봉구

In [ ]:
127
휴대
주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

>> 주민등록번호: 821010-1635210
남자

In [ ]:
128
주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

지역코드	출생지
00 ~ 08	서울
09 ~ 12	부산
>> 주민등록번호: 821010-1635210
서울이 아닙니다.
>> 주민등록번호: 861010-1015210
서울 입니다.

In [ ]:
129
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

  8 2 1 0 1 0 - 1 6 3 5 2 1 0
x 2 3 4 5 6 7   8 9 2 3 4 5 
-----------------------------
1차 계산: (8*2 + 2*3 + 1*4 + 0*5 + 1*6 + 0*7 + 1*8 + 6*9 + 3*2 + 5*3 + 2*4 + 1*5) = (128 % 11) = 7
2차 계산: 11 -7 = 4
위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.

다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

>> 주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [ ]:
130
아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다.   
 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장",  
 그렇지 않은 경우 "하락장" 문자열을 출력하라.
 
Key Name	Description
opening_price	최근 24시간 내 시작 거래금액
closing_price	최근 24시간 내 마지막 거래금액
min_price	최근 24시간 내 최저 거래금액
max_price	최근 24시간 내 최고 거래금액

# 8. 파이썬 반복문

## 131 ~140

In [ ]:
131
for문의 실행결과를 예측하라.

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
132
for문의 실행결과를 예측하라.

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
133
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

In [ ]:

for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [ ]:
변수 = ["A","B","C"]

print(변수[0])
print(변수[1])
print(변수[2])

A
B
C

In [ ]:
파이썬 인터프리터가 어떤 순서로 코드를 실행하는지를 떠올려 보세요. 

"변수 바인딩(라인 1) -> 변수 출력 (라인 2)" 과정을 자료구조 데이터 개수 만큼 반복합니다.
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)
간단해서 변수의 바인딩없이 다음과 같이 코드를 작성해도 됩니다. 모두 동일한 결과를 출력합니다.

print("A")
print("B")
print("C")

In [ ]:
134
for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

In [ ]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [ ]:
변수 = ["A", "B", "C"]

print("출력:", 변수[0])

출력: A

In [ ]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [ ]:
135❗
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

In [ ]:

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [ ]:
변수 = "A"
print("변환:", 변수.lower())

변환: a

In [ ]:
136
다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

In [ ]:
for 변수 in [10,20,30]:
    print(변수)

10
20
30

In [ ]:
리스트 = [10,20,30]

for 변수 in 리스트:    # 리스트 안에있는 각각의 변수에 대하여 
    print(변수)

10
20
30

In [ ]:
137
다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

In [ ]:
for 변수 in [10,20,30]:
    print(변수)

10
20
30

In [ ]:
138
다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

In [ ]:

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [ ]:
for 변수 in [10,20,30]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [ ]:
리스트 = [10,20,30]

for 변수 in 리스트:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [ ]:
139
다음 코드를 for문으로 작성하라.

In [ ]:
print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [ ]:
print("++++")

for 변수 in [10,20,30]:
    print(변수)

++++
10
20
30

In [ ]:
140❗
다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

In [ ]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

## 141 ~ 150

In [ ]:
141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 
단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
110
210
310

In [ ]:
리스트 = [100, 200, 300]

부가세 = 10
for i in 리스트:
    print(i + 부가세)

110
210
310

In [ ]:
142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
리스트 = "김밥"
print("오늘의 메뉴 :",리스트)

오늘의 메뉴 : 김밥

In [ ]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: ",i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [ ]:
메뉴 = "김밥"
print("오늘의 메뉴: " + 메뉴)
메뉴 = "라면"
print("오늘의 메뉴: " + 메뉴)
메뉴 = "튀김"
print("오늘의 메뉴: " + 메뉴)

In [ ]:
#변하는 값은 for문의 자료구조 자리에, 변하지 않는 코드는 들여쓰기 후에 작성합니다.
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

In [ ]:
143❗
리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
저장된 문자열의 길이를 다음과 같이 출력하라.

6
4
4

In [ ]:
주식 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 주식 :
  길이 = len(i)
  print(길이)

6
4
4

In [ ]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

In [ ]:
144
리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
동물 이름과 글자수를 다음과 같이 출력하라.

dog 3
cat 3
parrot 6

In [ ]:
동물 = ['dog', 'cat', 'parrot']

for 이름 in 동물:
  print(이름, len(이름))

dog 3
cat 3
parrot 6

In [ ]:
145
리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
for문을 사용해서 동물 이름의 첫 글자만 출력하라.

d
c
p

In [ ]:
동물 = ['dog', 'cat', 'parrot']

for 이름 in 동물:
  print(이름[0])

d
c
p

In [ ]:
146
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for문을 사용해서 다음과 같이 출력하라.

3 x 1
3 x 2
3 x 3

In [ ]:
리스트 = [1, 2, 3]

for i in 리스트 :
  print(3, "x", i)

3 x 1
3 x 2
3 x 3

In [ ]:
❗
for 변수 in 리스트:
  print("3 x " + str(변수))

#혹은 print() 함수가 제공하는 기능을 사용할 수 있습니다.

리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x", 변수)

3 x 1
3 x 2
3 x 3
3 x 1
3 x 2
3 x 3

In [ ]:
147
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for문을 사용해서 다음과 같이 출력하라.

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:

리스트 = [1, 2, 3]

for i in 리스트 :
  print(3, "x", i,"=",3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
❗
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))


#혹은 print() 함수가 제공하는 기능을 사용할 수 있습니다.

리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x", 변수,"=", 3*변수)

3 x 1
3 x 2
3 x 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
148❗
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

나
다
라

In [ ]:

리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]:
    print(i)

나
다
라

In [ ]:
리스트 = ["가", "나", "다", "라"]
나다라 = 리스트[1:]
for 변수 in 나다라:
  print(변수)

In [ ]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[1:]
for 변수 in 리스트:
  print(변수)

In [ ]:
149❗
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

가
다

In [ ]:
리스트 = ["가", "나", "다", "라"]

for 변수 in 리스트[: :2]:
  print(변수)

가
다

In [ ]:
150
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

라
다
나
가

In [ ]:
리스트 = ["가", "나", "다", "라"]

for 변수 in 리스트[ : :-1]:
  print(변수)

라
다
나
가

## 151 ~ 160

In [ ]:
151
리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
for문을 사용해서 리스트의 음수를 출력하라.

-20
-3

In [ ]:
리스트 = [3, -20, -3, 44]

for 음수 in 리스트:
    if 음수 < 0:
      print(음수)

-20
-3

In [ ]:
152
for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
3

In [2]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [ ]:
153
리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
12
18

In [4]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [ ]:
154
리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
study
python
language

In [5]:
리스트 = ["I", "study", "python", "language", "!"]

for 문자 in 리스트:
    if len(문자) >= 3:
        print(문자)

study
python
language

In [ ]:
155
리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
A
D
(참고) isupper() 메서드는 대문자 여부를 판별합니다.

>> 변수 = "A"
>> 변수.isupper()
True
>> 변수 = "a"
>> 변수.isupper()
False

In [7]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [6]:
리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
    if 변수.isupper():
        print(True)
    else:
        print(False)

True
False
False
True

In [ ]:
156
리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
b
c

In [8]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower():
        print(i)

b
c

In [ ]:
157
이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
Dog
Cat
Parrot
(참고) upper() 메서드는 문자열을 대문자로 변경합니다.

>> 변수 = "a"
>> a.upper()
A
>> 변수 = "abc"
>> 변수.upper()
ABC

In [14]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i.capitalize())❗

Dog
Cat
Parrot

In [16]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [ ]:
158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라.
(힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
hello
ex01
intro

In [22]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    name, ext = i.split('.')  #unpacking ['hello', 'py']❗
    print(name)

hello
ex01
intro

In [ ]:
159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
define.h

In [24]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.endswith(".h"):❗
        print(i)

intra.h
define.h

In [ ]:
160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
intra.c
define.h

In [26]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.endswith(".h") or i.endswith(".c"):
        print(i)

intra.h
intra.c
define.h

In [27]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.endswith(('.h', '.c')):  #여러 확장자일땐 튜플로 적어주자
        print(i)

intra.h
intra.c
define.h

In [31]:
❗#다른방법

for i in 리스트:
    name, ext = i.split('.') 
    if ext == 'h' or ext == 'c':
        print(i)

intra.h
intra.c
define.h

# 9. 파이썬 함수

## 201 ~ 210

In [ ]:
201
"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [ ]:
def print_coin():
  print("비트코인")

In [ ]:
202
201번에서 정의한 함수를 호출하라.

In [ ]:
print_coin()

비트코인

In [ ]:
203❗
201번에서 정의한 print_coin 함수를 100번호출하라.

In [ ]:
204
"비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

In [ ]:
205
아래의 에러가 발생하는 이유에 대해 설명하라.

hello()
def hello():
    print("Hi")
실행 예

NameError: name 'hello' is not defined

In [ ]:
206❗
아래 코드의 실행 결과를 예측하라.

In [ ]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

In [ ]:
207
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

In [ ]:
A
C
B

In [ ]:
208
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

In [ ]:
A 
C 
B
E 
D

In [ ]:
209❗
아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

In [ ]:
210
아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

In [ ]:
B
C
B 
C 
B 
C 
A

## 211 ~ 220

In [ ]:
211
함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

In [ ]:
212
함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

In [ ]:
213
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'

In [ ]:
214
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
TypeError: must be str, not int

In [ ]:
215
하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [ ]:
def print_with_smile(문자열):
    print(문자열 + ":D")

In [ ]:
216
215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [ ]:
print_with_smile("안녕하세요")

안녕하세요:D

In [ ]:
217
현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [ ]:
def print_upper_price(가격):
    print(가격 * 1.3)

In [ ]:
218
두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [ ]:
def print_sum(a , b):
    print(a + b )

In [ ]:
219
두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

print_arithmetic_operation(3, 4)
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
def print_arithmetic_operation (a , b):
    print(a, "+",b, "=",a+b)
    print(a, "-",b, "=",a-b)
    print(a, "*",b, "=",a*b)
    print(a, "/" ,b, "=",a/b)

In [ ]:
a = 3
b = 4
print("{} + {} = {}".format(a,b,a+b))

3 + 4 = 7

In [ ]:
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
220
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [ ]:
def print_max(a,b,c):
  if a > b and a > c:
    print(a)
  elif b > c and b > a:
    print(b)
  else:
    print(c)

In [ ]:


def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)
# 지금까지써왔던 max 함수의 내부는 위와 비슷하게 구현되어 있을 겁니다.

max(a, b, c)

## 221 ~ 230